<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confession Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

  <div class="container">
    <h1>CONFESSION</h1>
    {% if config.GET_EMAIL %}
        {% with _if_get_email = _("Gửi tâm tư ẩn danh. Nhập Gmail nếu og muốn nhận thông báo khi có phản hồi.") %}
            <p class="desc">{{ _if_get_email }}</p>
        {% endwith %}
    {% else %}
        {% with _else_if_dont_get_email = _("Gửi tâm tư ẩn danh. Chúng tôi luôn luôn tôn trọng bạn.") %}
            <p class="desc">{{ _else_if_dont_get_email }}</p>
        {% endwith %}
    {% endif %}


    <form id="confessionForm" action="/submit-confession" method="POST">
      <div class="form-group">
        <label for="confession">{{ _("Nội dung Confession *") }}</label>
        <textarea id="confession" name="confession" placeholder="{{ _('Viết điều og muốn chia sẻ ở đây...') }}" required></textarea>
      </div>
      {% if config.GET_EMAIL %}
          <div class="form-group">
            <label for="email">{{ _("Gmail nhận thông báo (Không bắt buộc)") }}</label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com">
          </div>
      {% endif %}

      <button type="submit">{{ _("GỬI CONFESSION") }}</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for _, message in messages %}
          <div class="status-msg" style="display: block;">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <div class="footer">
      <p>&copy; {{ _("2026 Lại Văn Sâm. Mọi bản quyền được bảo lưu.") }}</p>
      {% with name_group = config.NAME_GROUP_USE_PROJECT %}
          {% if name_group %}
              <p>{{ _("Hệ thống được vận hành bởi") }} {{ name_group }}</p>
          {% endif %}
      {% endwith %}
        <a href="#">{{ _("Điều khoản") }}</a> & <a href="#">{{ _("Bảo mật") }}</a>
    </div>
  </div>
</body>
</html>