<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% with name_groups =  config.NAME_GROUP_USE_PROJECT%}
        {% if name_groups %}
            <title>{{ name_groups }} confession</title>
        {% else %}
            <title>Confession Box</title>
        {% endif %}
    {% endwith %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        :root {
            --main-color: {{ config.TOPIC_COLOR }};
        }
    </style>
</head>
<body>

  <div class="container">
    <h1>CONFESSION</h1>
    {% if config.GET_EMAIL %}
        {% with _if_get_email = _("Gửi tâm tư ẩn danh. Nhập Gmail nếu bạn muốn nhận thông báo khi có phản hồi.") %}
            <p class="desc">{{ _if_get_email }}</p>
        {% endwith %}
    {% else %}
        {% with _else_if_dont_get_email = _("Gửi tâm tư ẩn danh. Chúng tôi luôn luôn tôn trọng bạn.") %}
            <p class="desc">{{ _else_if_dont_get_email }}</p>
        {% endwith %}
    {% endif %}

    <form id="confessionForm" action="/submit-confession" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        <label for="confession">{{ _("Nội dung Confession *") }}</label>
        <textarea id="confession" name="confession" placeholder="{{ _('Viết điều bạn muốn chia sẻ ở đây...') }}" spellcheck="false" autocorrect="off" autocomplete="off" required></textarea>
      </div>
      {% if config.GET_EMAIL %}
          <div class="form-group">
            <label for="email">{{ _("Gmail nhận thông báo (Không bắt buộc)") }}</label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com">
          </div>
      {% endif %}
      <input type="hidden" name="fingerprint_id" id="fingerprint_id" value=""/>
      <button type="submit">{{ _("GỬI CONFESSION") }}</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for _, message in messages %}
          <div class="status-msg" style="display: block;">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="footer">
      <p>&copy; {{ _("2026 Lại Văn Sâm. Mọi bản quyền được bảo lưu.") }}</p>
      {% with name_group = config.NAME_GROUP_USE_PROJECT %}
          {% if name_group %}
              <p>{{ _("Hệ thống được vận hành bởi") }} {{ name_group }}</p>
          {% endif %}
      {% endwith %}
        <a href="https://www.termsfeed.com/live/48040e84-5587-4147-a8ab-fd3918c0f1a2">{{ _("Điều khoản") }}</a> & <a href="https://www.termsfeed.com/live/48040e84-5587-4147-a8ab-fd3918c0f1a2">{{ _("Bảo mật") }}</a>
    </div>
  </div>
  {% if config.TRACKING_USER %}
      <script type="module" src="{{ url_for('static', filename='js/get_fingerprint.js') }}"></script>
  {% endif %}
</body>
</html>